body{
  background-color: #c5c5c5;
}

.tab {
  margin-top: 15px;
}

.nav-link {
  margin: 1px;
}

.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #cea606;
  border-color: #9c7f08;
}


.btn-primary:hover {
  background-color: #ffcc02;
  border-color: #ffcc02;
}

.emailnetellher {
  background-color: #9c7f08;
  font-weight: bold;
  color: black;
  border-radius: 4px;
  text-align: center;
}

span {
  background-color: #9c7f08;
  border-radius: 2px;
  color: black;
  margin: 10px;
}