body{
  background-color: #c5c5c5;
}

.tab {
  margin-top: 10px;
}

.nav-link {
  margin: 1px;
}

.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #cea606;
  border-color: #9c7f08;
}


.btn-primary:hover {
  background-color: #ffcc02;
  border-color: #ffcc02;
}