body{
  background-image: url(../_img/PAGE1_BACKGROUND-2.png);
  background-repeat: no-repeat;
  width: auto;
  height: 100px;
}

a {
  color: black;
  padding-left: 50px;

}

nav {
  padding-top: 30px;
}

header > img {
  width: 600px;
  padding-top: 40px;
  padding-left: 50px;
}

header > h1 {
  padding-left: 50px;
  padding-top: 100px;
}

header > p {
  padding-left: 50px;
}

.quemsou {
  padding-top: 200px;
}

.divisor {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 10px;
}

.secao {
  background-image: url(../_img/backgroundlogo-2.png);
  padding: 10px;
  background-repeat: no-repeat;
}

.subsecao {
  background-color: white;
  margin: 30px;
  

}

section > div > div > img {
  align-items: center;
}

section > h3 {
  padding: 20px;
}

section > div > div > p {
  padding: 20px;
}

section > img {
  width: 890px;
  align-items: center;
}